<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przefit-Przepisy</title>
    <link 
      rel="icon" 
      type="image/png" 
      size="16x16" 
      href="/images/favicon-16x16.png" 
    />
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" 
      referrerpolicy="no-referrer" 
    />
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="/css/style.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div>
        <h1><a href="/profile">Przefit-Przepisy</a></h1>
        <span class="bg-lime-600">Zdrowotnie Świadome Przepisy</span>
      </div>
    </header>
  </body>
</html>