<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przefit-Przepisy</title>
    <link 
      rel="icon" 
      type="image/png" 
      size="16x16" 
      href="/images/favicon-16x16.png" 
    />
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" 
      referrerpolicy="no-referrer" 
    />
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="/css/style.css"
    />
  </head>
  <body>
    <header>
      <!-- navbar -->
      <nav class="relative container mx-auto p-6">
        <!-- flex container -->
        <div class="flex items-center justify-between">
          <!-- logo -->
          <div>
            <img src="/images/logo-100x100.png" alt="company logo">
          </div>
          <!-- menu items -->
          <div class="hidden md:flex space-x-6 uppercase">
            <a href="#" class="hover:text-slate-600">Dinners</a>
            <a href="#" class="hover:text-slate-600">Vegan</a>
            <a href="#" class="hover:text-slate-600">Vegetarian</a>
            <a href="#" class="hover:text-slate-600">Fitness</a>
            <a href="#" class="hover:text-slate-600">About Us</a>
            <a href="#" class="hover:text-slate-600">Community</a>
          </div>
          <!-- login signup buttons -->
          <div class="flex divide-x divide-amber-600">
            <a href="signup" class="hidden w-1/2 p-3 px-6 pt-2 text-white bg-amber-400 rounded-l-full baseline hover:bg-amber-300 md:block">
              Signup
            </a>
            <a href="login" class="hidden w-1/2 p-3 px-6 pt-2 text-white bg-amber-400 rounded-r-full baseline hover:bg-amber-300 md:block">
              Login
            </a>
          </div>
          <!-- hamburger icon -->
          <button class="block hamburger md:hidden focus:outline-none" id="menu-btn">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
          </button>
        </div>
        <!-- mobile menu -->
        <div class="md:hidden">
          <div id="menu" class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
            <a href="#">Pricing</a>
            <a href="#">Product</a>
            <a href="#">About Us</a>
            <a href="#">Careers</a>
            <a href="#">Community</a>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>