<%- include('partials/header') -%>
<main class="container">
  <div class="">
    <a href="login" class="bg-red-700 border p-4">Login</a>
    <a href="signup" class="text-red-900 underline">Signup</a>
  </div>
</main>
<%- include('partials/footer') -%>
